<header class="site-header">
    <div class="container header-inner">
        <a class="brand" href="/index.html" aria-label="Accueil">
            <img class="brand-logo" src="/assets/img/logo.png" alt="Logo Alpiness en Oisans">
            <span class="brand-name">Alpiness En Oisans</span>
        </a>


        <button class="nav-toggle" aria-expanded="false" aria-controls="site-nav">
            Menu
        </button>

        <nav id="site-nav" class="nav">
            <ul class="nav-list">
                <li><a href="/team-building.html">Team-building</a></li>

                <li class="has-submenu">
                    <button class="submenu-toggle" aria-expanded="false">
                        Journées Aventure
                    </button>
                    <ul class="submenu">
                        <li><a href="/journee-aventure-decouverte.html">Découverte</a></li>
                        <li><a href="/journee-aventure-sportive.html">Sportive</a></li>
                        <li><a href="/journees-aventure.html">Voir tout</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <button class="submenu-toggle" aria-expanded="false">
                        Autres prestations
                    </button>
                    <ul class="submenu">
                        <li><a href="/incentive.html">Incentive</a></li>
                        <li><a href="/canyoning.html">Canyoning</a></li>
                        <li><a href="/journees-etude.html">Journées d’étude</a></li>
                        <li><a href="/soirees-festives.html">Soirées festives</a></li>
                    </ul>
                </li>

                <li><a href="/a-propos.html">À propos</a></li>
                <li class="cta"><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
